h3 {
    text-align: center;
}

app-text-create {
    display: block;
    margin-left: 40%;
    margin-right: 40%;

}

app-texts-list {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
}

app-tags-list {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
}
